<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Editor App</title>
    <!-- Include ACE Editor library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" integrity="sha512-FMfSbVWhZHTg7N3y3g0YS7R3wU5JCOzZzZCwFV5bZp91oXwBd3EE5rIvmzNhfybk5ZwS6MrT7OLyus9qkTqS/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- ACE Editor themes and extensions (optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.js" integrity="sha512-0jvCEB5fdMxqEUpmM7jCPCbPjGoT69Lk7CpS6+Qwfgu4w5beSMQ3OmN+zBc/o5tD4NV7Z2Njy1FgqUeVrC5Z3A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/theme-monokai.min.css" integrity="sha512-RLscFW2Z2QLa1S+qKuJ1JfdMmrvRmAxAnR9D7iGVtZdoE3Fj7Y6dIy3JeUKkR5gDF5WbpldUhRATXQziB6a2mQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Include script.js for custom JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <header>
        <h1><a href="{{ url_for('main.index') }}">Text Editor App</a></h1>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="message">{{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
